<div class="container-fluid">
    <div class="card card-body">
        <h3>Digital Journal | Create A Note</h3>
        <form id="form-position" action="/notes" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
                <label for="details">Body:</label>
                <textarea type="text" class="form-control" name="details" required></textarea>
            </div>
            <div><small class="text-muted">Use the form about to create a post.Make sure you fill the required title and
                    body fields and then
                    press
                    submit</small></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
        {{#each notes}}
        <div class="container">
            <div id="flow-left" class="card-deck">
                <div class="row">
                    <div class="col-xs-4">

                        <div id="notes-size" class="card" class="col-xs-4">
                            <h5 class="card-header">{{title}}</h5>
                            <div class="card-body">
                                <p class="card-text">{{details}}</p>
                                <a class="card-link " href="/notes/edit/{{id}}">Edit </a>
                                <form id="flow-left" method="post" action="/notes/{{id}}?_method=DELETE">
                                    <input type="hidden" name="_method" value="DELETE" />
                                    <input style="color: red" id="link-removed" type="submit" class="btn btn-link"
                                        value="Delete" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <p>No notes listed</p>
        {{/each}}
    </div>
</div>