<div class="container">
    {{#each notes}}
    <div class="row">
        <div class="col-sm-5 py-2">
            <div class="card card-body h-100">
                <h5 class="card-header">{{title}}</h5>
                <div class="card-body">
                    <p class="card-text">{{details}}</p>
                    <a class="card-link " href="/notes/edit/{{id}}">Edit </a>
                    <form id="flow-left" method="post" action="/notes/{{id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input style="color: red" id="link-removed" type="submit" class="btn btn-link" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>No notes listed</p>
{{/each}}
</div>
</div>